*{
    font-family: Be vietnam pro;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 20px;


}
#navbar li a{
    text-decoration: none;
}
.logo a{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #123573;
}
#navbar li a{
    font-size: 16px;
    font-size: medium;
    color: black;
}

.search{
    display: flex;
    
    justify-content: space-between;
    height: 35px;
    line-height: 35px;
}

.search input{
    flex: 1;
    border: none;
    outline: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #F0F2F5;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    width: 350px;
    
}


.search button{
    font-size: 16px;color: rgb(122, 120, 120);
    background: #F0F2F5;
    height: 100%;
    padding: 10px ;
    position: relative;
    cursor: pointer;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 1;
    border: none;
    
    
    
}





#navbar button{
    background-color: #123573;
    height: 100%;
    margin-left: 20px;
    color: #F0F2F5;
    border-radius: 8px 8px 8px;
    padding: 8px 10px;
    border-color: #123573;
    font-size: 16px;
    

 
}
#hero{
    padding-top: 35;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 232;
    padding-bottom: 235;
    font-size: 36px;
    font-weight: bolder;
    text-align: left;
    color: #123573;
  
}

/* Bottom left text */
.bottom-left2 {
        position: absolute;
        bottom: 0px;
        left: 0px;
        color: black;
        text-align: left;
        padding-left: 232;
        padding-bottom: 185;
        color: #123573;

}

.herobutton{
    position: absolute;
    bottom: 150px;
    left: 232px;
    color: black;
    text-align: left;
   
    
    color: #123573;

}
    

